  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: gainsboro;
    

}
.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
#imglogo {
    width: 40px;
}
#textologo {
    font-size: 30px;
    margin-left: 5px;
    width: 40px;
    color: black
}

.botoes > ul{
    display: flex;
    align-items: center;

}
ul {
    list-style: none;
}

header>.botoes>ul > li {
    font-size: 25px;
    margin: 0px 40px 0px 0px;
    padding: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header>.botoes>ul > li> a:hover {

    color: rgb(178, 178, 178);
    text-decoration: underline;
    
}


.main {

    width: 100vw;
    height: 90vh;
    background-image: url(./home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#quadro {

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.496);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

p {
    margin: 0px 0px 16px 10px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

#img {
    height: 500px;
} 

.fundo {
    width: 70vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.178);
}


#textocarrosel > p {
    max-width: 400px;
    width: 100%;
    margin: 0px 20px;
    text-align: justify;
}

#atrasBurger{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 85px;
    height: 50px;
    background-color: #DCDCDC;
    border-bottom-left-radius: 20px;
    padding-right: 0px;
}
#atrasBurger.active{
    display: none;
}
#burger {
    height: 50px;
    width: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: flex-end;
    cursor: pointer;
    position: absolute;
    right: 0;
}
#burger div{
    border-radius: 50px;
    width: 50px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    transition: all ease-out 0.5s;
}
#burger div:nth-child(1){
    width: 80%;
}
#burger div:nth-child(2){
    width: 60%;
}
#burger div:nth-child(3){
    width: 40%;
}
#burger:hover div{
    background-color: rgb(0, 0, 0);
    width: 100%;
}

#burger.active > div:nth-child(3){
    opacity: 0;
}
#burger.active > div:nth-child(1){
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* transform: rotate(45deg) translateY(14px) translateX(10px); */
    /* transform: rotate(-135deg) translateY(-14px) translateX(-10px); */
    transform: rotate(-45deg) translateY(10px) translateX(-14px);
}
#burger.active > div:nth-child(2){
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* transform: rotate(135deg) translateY(2px) translateX(2px); */
    /* transform: rotate(-45deg) translateY(-2px) translateX(-2px); */
    transform: rotate(45deg) translateY(2px) translateX(-2px);
}
#menuMobileBack{
    /* display: flex; */
    width: 220px;
    height: 315px;
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    top: 10.2%;
    right: 0;
    border-bottom-right-radius: 50px;
    z-index: 41;
    transform: translateX(125%);
    transition: all ease-in 1s;
    color: white;
}
#menuMobileBack.active{
    transform: translateX(0%);
}
#menuMobileBack.active .logo{
    display: flex;
}
#menuMobileBack .logo{
    display: none;
    left: 250px;
    color: white;
    position: absolute;
    margin: auto;
    top: 20px;
    align-items: flex-start;
}
#menuMobileBack .logo p{
    color: white;
}
#menuMobileBack ul{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
}
#menuMobileBack ul li {
    padding: 15px;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    
}
#menuMobileBack ul li a {
    color: white;
}

#menuMobile.active{
    transform: translateX(20%);
}
.footer {

    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.rodape {
    padding: 45px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: gray;

}
#imgf {
    height: 30px;
    margin-right: 10px;
    margin-bottom: 6px;
}

.contato>ul>li {
    font-size: 15px;
    display: flex;
    align-items: center;
}
.contato {
    width: 400px;
}
.contato>ul {
    width: 100%;

}

#titlecont {
    font-size: 25px;
    padding: 10px;
}


.siga>ul>li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.siga>ul>li:hover{
    color: white;
}
.contato>ul>li:hover{
    color: white;
}
@media(max-width: 1200px){
    .barra{
        background-color: black;
        width: 30px;
        height: 5px;
        margin: 5px;
        border-radius: 5px;
        margin-right: 15px;
    }
    
    .botoes ul {
        display: none;
    }
    #atrasBurger{
        display: contents;
    }
    #burger{
        margin-right: 15px;
        display: flex;
        z-index: 50;
    }
    header{
        min-width: 280px;
        width: 100%;
        min-height: 50px;
    }
    .botoes ul li {
        border-bottom: 1px solid black;
    }

    .logo {
        margin-left: 10px;
    }
    .main{
        min-width: 280px;
        /* height: 500px; */
        min-height: 280px;
    }
    .fundo {
        /* flex-direction: column; */
        width: 700px;  
        height: 500px;      
    }
    
    p {
        font-size: 15px;
    }
    #img{
        height: 200px;
    }
}
@media(max-width: 700px){
    .fundo {
        flex-direction: column;
        min-width: 280px;
        max-width: 500px;
        width: 100%;  
        height: 100%;      
    }
    
    
    p {
        font-size: 10px;
    }
    #img{
        height: 200px;
    }
    #textocarrosel p{
        margin: 30px;
        max-width: 200px;
    }
}

@media(max-height: 832px){
    .fundo {
        /* flex-direction: column; */
        /* width: 1200px; */
        max-height: 750px;
        height: 100%;  
    }
}
@media(max-height: 525px){
    .fundo{
        flex-direction: row;
        width: 500px;
    }
}
@media(max-height: 460px){
    
}