* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: gainsboro;
    

}



.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
#imglogo {
    width: 40px;
}
#textologo {
    font-size: 30px;
    margin-left: 5px;
    width: 40px;
    color: black
}

.botoes > ul{
    display: flex;
    align-items: center;

}
ul {
    list-style: none;
    height: 100%;
}

#divuser{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1%;
}
#textuser{
    font-size: 10px;
    height: 1%;
}
#user{
    width: 30px;
}

header>.botoes>ul > li {
    font-size: 25px;
    margin: 0px 40px 0px 0px;
    padding: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
}

header>.botoes>ul > li> a:hover {

    color: rgb(178, 178, 178);
    text-decoration: underline;
    
}


.main {

    width: 100vw;
    height: 90vh;
    background-image: url(./home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#quadro {

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.496);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

p {
    margin: 0px 0px 16px 10px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

#img {
    width: 100px;
    max-height: 600px;
} 

.fundo {
    width: 1200px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.178);
}


#textocarrosel > p {
    max-width: 400px;
    width: 100%;
    margin: 0px 20px;
    text-align: justify;
}
@media(max-width: 1200px){
    .barra{
        background-color: black;
        width: 30px;
        height: 5px;
        margin: 5px;
        border-radius: 5px;
    }
    
    .botoes ul {
        display: none;
    }

    header{
        min-width: 280px;
        width: 100%;
        min-height: 50px;
    }
    .botoes ul li {
        border-bottom: 1px solid black;
    }

    .logo {
        margin-left: 10px;
    }
    .main{
        min-width: 280px;
        /* height: 500px; */
        min-height: 280px;
    }
    .fundo {
        flex-direction: column;
        width: 100%;  
        height: 100%;      
    }
    
    p {
        font-size: 10px;
    }
    #img{
        height: 200px;
    }

    #textocarrosel p{
        margin: 30px;
        max-width: 200px;
    }
}

.rodape {
    padding: 45px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

footer {

    height: 30vh;
    width: 100vw;
    background-color: gray;
}

#imgf {
    height: 30px;
    margin-right: 10px;
}

.contato>ul>li {
    margin-bottom: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;

}

.contato>ul {
    width: 300px;

}

#titlecont {
    font-size: 25px;
    padding: 10px;
}

.contato {
    width: 400px;
}
.siga>ul>li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.siga>ul>li:hover{
    color: white;
}
.contato>ul>li:hover{
    color: white;
}